#container {
    display: grid;
    background: pink;
}

.row {
    display: flex;
    outline: solid;
    justify-content: center;
}

.cell {
    display: flex;
    background: orange;
    outline: solid;
    justify-content: center;
    flex: 1;
    width: 25%;
    padding-top: 25%;
}
