#container {
    display: grid;
    background: #3C8EA7;
    width: 500px;
    height: 500px;
    border-style: solid;
    border-width: 50px;
    border-color: #2B4555;
    border-radius: 5px;
}

.row {
    display: flex;
    justify-content: center;
}

.cell {
    display: flex;
    background: #3C8EA7;
    outline: solid;
    outline-width: thin;
    justify-content: center;
    flex: 1;
}

button {
    border: none;
    padding: 15px 32px;
    background-color: #CBAC44;
    border-radius: 5px;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #F8F5F3;
}